<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="web/css/bootstrap.min.css">
  	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="web/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
  	
  	<script type="text/javascript">
  	$(function(){
  		$('#music').collapse({
		  // toggle: false
		});

		$('body').on('submit', '#add-media', function(event){
			event.preventDefault();
			$.post('ajax/parseMedia', $('#add-media').serialize(), function(response){
				console.log(response);
			});
		});
        $("#video, #music, #live").sortable({
            connectWith: ".dragdrop",
        }).disableSelection();

        $( "#live" ).sortable({
		  receive: function( event, ui ) {
		  	var data = {
		  		'channel_id': 1,
		  		'media_id' : ui.item.attr('media-id'),
		  		'type': ui.item.attr('media-type')
		  	};
		  	$.post('ajax/saveToChannel', data, function(response){
		  		console.log(response);
		  	});
		  },
		  update: function (event, ui) {
	        	console.log($('#live').sortable('toArray'));

	    	}
		});
  	})

  	function parseMedia()
  	{
  		$.post('ajax/parseMedia', $('#media_url').serialize(), function(response){
  			console.log(response);
  		});
  	}
  	        
  	</script>
</head>
<body style="padding-top:60px;">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="conteiner">
		<div class="navbar-collapse collapse" style="height: 1px;">
          <form class="navbar-form navbar-left" id="add-media" role="form">
            <div class="form-group">
              <input type="text" size="60" name="media_url" placeholder="Vimeo group url, pleer playlist url, ..." class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Get madia</button>
          </form>
          	<a class="navbar-right btn btn-default navbar-btn" href="logout">logout</a>
        </div>
	</div>
</div>
<div class="conteiner-fluid">
	<div class="col-sm-3 col-md-3 sidebar" style="position:fixed">
		<div class="panel panel-default">
		  <div class="panel-heading">Live</div>
		  <!-- <div class="panel-body"> -->
		  <ul id="live" class="dragdrop panel-body">
		  {% for e in media.live %}
		<li id="music{{e.id}}" class="list-group-item {{e.group}} dragdrop" media-id="{{e.id}}"  media-type="{{e.type}}">
					    	{{ e.artist ~ ' - ' ~ e.name }}
					    </li>
					{% endfor %}
		  </ul>
		  <!-- </div> -->
		</div>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-3">
		<ul class="nav nav-pills">
			<li class="active"><a href="#music" data-toggle='tab'>Music</a></li>
			<li><a href="#video" data-toggle='tab'>Video</a></li>
		</ul>
		<div class="tab-content">
			<div class="active tab-pane" id="music">
					{% for e in media.music %}
						<li id="music{{e.id}}" class="list-group-item {{e.group}} dragdrop" media-id="{{e.id}}"  media-type="{{e.type}}">
					    	{{ e.artist ~ ' - ' ~ e.name }}
					    </li>
					{% endfor %}
			</div>
			<div class="tab-pane dragdrop2" id="video">
					{% for e in media.video %}
						<a id="{{e.id}}" class="list-group-item {{e.group}} ">
					    	{{ e.name }}
					    </a>
					{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>
</html>