html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #000;
    /*font-family: "Andale Mono", AndaleMono, monospace;*/
    /*font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;*/
    /*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
    /*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clr:after{
    content: "";
    display: table;
    clear: both;
}

/*------------TOP PANEL----------------*/
#controls{
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 100%;
}
#chanels{
    float: left;
    width: 250px;
}
#play{
    position: absolute;
    left: 50%;
    margin-left: -80px;
    height: 100px;
}
#artist{
    text-align: center;
    /*background-color: rgba(0,0,0,.6);*/
    background-color: rgba(38,13,1,.6);
    color: #fff;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    padding: 5px 5px;
    font-size: 24px;
    float: left;
    bottom: 25px;
    position: absolute
}


@media screen and (max-width: 700px) {
    #play{
        position: relative;
    }
    #chanels{
        width: 250px;
        margin: 0;
        position: relative;
        text-align: center;
        float: none;
        margin: 0 auto;
    }
}

/*--------------BUTTONS---------------*/
.push{
    position: absolute;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    /*-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(191,65,4,1), 0px 9px 25px rgba(0,0,0,.7);*/
    margin: 0px auto;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    z-index: 2;
}
.push:active, .pressed {
    position: absolute;
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    /*box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);*/
    box-shadow: 0px 3px 0px rgba(200,69,4,1), 0px 3px 6px rgba(0,0,0,.9);
    top: 6px;
}
.big_btn {
    width: 160px;
    font-size: 3em;
}
.mdl_btn {
    width: 60px;
}
.push_wrapper {
    position: relative;
    float:left;
    width: 33%;
    height: 45px;
    z-index: 3;
}

#fixed_bottom{
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 51px;
    background-color: #000;
}
#fixed_top{
    position: absolute;
    left: 0;
    width: 100%;
    height: 51px;
    background-color: #000;   
}