<h2 class="sub-header">List</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Artist</th>
      <th>Name</th>
      <th>Type</th>
      <th>Duration</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.artist }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.duration }}</td>
      <td>edit delete</td>
    </tr>
  {% else %}
  	<tr>
  	  <td>
      	No items have been found.
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>