<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="web/css/style.css">

  	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  	<script type="text/javascript" src="web/js/jplayer/jquery.jplayer.min.js"></script>
  	<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
	<script type="text/javascript" src='web/js/video.js'></script>
	<script type="text/javascript" src="web/js/script.js"></script>
	<script type="text/javascript">
	play_url = '{{audio.url}}';
	</script>
</head>
<body>
<div id="player" class="jp-jplayer"></div><div id="jp_container_1" class="jp-audio"></div>
<!-- <div id="controls">

	<div id="play">
		<div class="push_wrapper"><a href="#" class="push jp-play big_btn">&#8250;</a></div>
	</div>
	<div id="chanels">
		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">a</a></div>
		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">b</a></div>
 		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">c</a></div>

 		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">a</a></div> 
		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">b</a></div>
 		<div class="push_wrapper"><a href="javascript:;" class="push mdl_btn">b</a></div>
	</div>
	<div id="artist">
	    Artis - Pizdaty Song name
	</div>
</div> -->
<div id="fron_video"></div>
<!-- <div id="fron_video_back" style="position: fixed; z-index: -8; width: 100%; height: 100%"> -->
	<div id="vimeo_controls">
		<div id="fixed_top"></div>
		<div id="fixed_bottom"></div>
	</div>
<!-- </div> -->
<div style="position: fixed; z-index: -9; width: 100%; height: 100%">
<iframe id="video" src="http://player.vimeo.com/video/{{ video.source_id }}?api=1&player_id=video&hd_off=1&autoplay=1&badge=0&byline=0&portrait=0&title=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
</iframe>
</div>
</body>
</html>