<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/web/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/web/css/panel.css">
  	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="web/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
</head>
<body>
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
			{{ include( module ~ '/' ~ action ~ '.html') }}
        </div>
      </div>
    </div>
</body>
</html>